@model List<TPIndustriaBD2.Models.Produto>

<h2>Lista de Produtos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Preço Médio</th>
            <th>Saldo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Nome_Produto</td>
                <td>@produto.Preco_medio.ToString("C")</td>
                <td>@produto.Saldo</td>
                <td>
                    <a asp-action="ProdutoDetails" asp-controller="Produto" asp-route-id="@produto.ID_Produto" class="btn btn-info">
                        Ficha Produto
                    </a>

                    <a asp-action="ExibirMenorPrecoCompra" asp-controller="Produto" asp-route-id="@produto.ID_Produto" class="btn btn-info">
                        Menor Preço de Compra
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="ListarProdutosPorGrupo" asp-controller="Produto" class="btn btn-info">
        Ver Grupos de Produtos
    </a>
</table>
