@model List<TPIndustriaBD2.Models.ViewModels.ListarProdutosGruposVM>

<h2>Grupos de Produtos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Grupo</th>
            <th>Preço Médio</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produtosGrupo in Model)
        {
            <tr>
                <td>@produtosGrupo.Nome_Produto</td>
                <td>@produtosGrupo.Nome_Grupo</td>
                <td>@produtosGrupo.Preco_Medio.ToString("C")</td>
                <td>@produtosGrupo.Saldo.ToString()</td>
            </tr>
        }

    <td>
        <a href="@Url.Action("Index", "Produto")" class="btn btn-info">
            Voltar
        </a>
    </td>
    </tbody>
</table>
