@model TPIndustriaBD2.Models.ViewModels.RegistrarConsumo

<h2>Registrar Consumo</h2>

<form asp-action="InserirConsumo" method="post">
    <div class="form-group">
        <label asp-for="ID_Produto">Produto</label>
        <select asp-for="ID_Produto" class="form-control">
        <option value="">Selecione um Produto</option>
        @foreach (var produto in Model.Produto)
        {
            <option value="@produto.ID_Produto">@produto.Nome_Produto</option>
        }
        </select>
        <span asp-validation-for="ID_Produto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FK_Setor">Setor</label>
        <select asp-for="FK_Setor" class="form-control">
            <option value="">Selecione um setor</option>
            @foreach (var setor in Model.Setor)
            {
                <option value="@setor.ID_Setor">@setor.Nome_Setor</option>
            }
        </select>
        <span asp-validation-for="FK_Setor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantidade">Quantidade</label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>

</form>

<!-- Modal de Erro -->
<div class="modal fade" id="erroModal" tabindex="-1" aria-labelledby="erroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="erroModalLabel">Erro ao Registrar Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                @Model.mensagemErro
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var mensagemErro = '@Model.mensagemErro';
            if (mensagemErro && mensagemErro.length > 0) {
                $('#erroModal').modal('show');
            }
        });
    </script>
}


